.admin-index-container {
  .header-container {
    padding: 16px 32px;
    margin-bottom: 16px;
    .header-title {
      font-size: 24px;
      font-weight: 700;
    }
  }
  .content-container {
    padding: 16px 32px;
    display: flex;
    gap: 24px;
    flex-direction: row;
    justify-content: space-around;
    .table-container  {
      flex-grow: 1;
    }
    .filter-container {
      min-width: 300px;
    }
  }
}