.section-video-container {
  padding-top: 64px;
  padding-bottom: 64px;

  position: relative;
  padding-bottom: 24px;
  min-height: 570px;
  @include for-phone-only {
    padding: 0 16px;
  }

  &__title-container {
    margin-top: 32px;
    text-align: center;
    width: 100%;
    position: inherit;
    z-index: 2;
  }

  &__mission-label-container {
    margin-top: 32px;
    text-align: center;
    width: 100%;
    position: inherit;
    z-index: 2;
    .paragraph-mission-label {
      font-size: 16px;
      color: $black;
      font-weight: 400;
      line-height: 36px;
      max-width: 400px;
      margin: 0 auto;
    }
  }
  &__youtube-video-container {
    margin-top: 32px;
    position: absolute;
    top: 82%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 60%; /* Assurez-vous que le conteneur parent a une largeur de 100% */


    @include for-phone-only {
      width: 90%;
      /* Styles spécifiques aux appareils mobiles */
      iframe {
        height: auto;
        min-height: 350px; /* Pour permettre à la vidéo de s'ajuster en hauteur en fonction du contenu */
      }
    }
  }

  &__pastille-light {
    position: absolute;
    top: 14px;
    left: -37px;
    width: 207px;
    z-index: 1;
    @include for-phone-only {
      display: none;
    }
    // height: 100%;
  }

  &__pastille-brown {
    position: absolute;
    bottom: -30px;
    right: 24px;
    width: 200px;
    z-index: 1;
    @include for-phone-only {
      display: none;
    }
    // height: 100%;
  }
}


.section-services-container {
  background-color: $primary;
  padding-top: 84px;
  padding-bottom: 64px;

  &__services {
    margin-top: 64px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;
    flex-wrap: wrap;
    @include for-phone-only {
      flex-direction: column;
      align-items: center;
      gap: 24px;
    }


    &-service {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 260px;
      
      .logo-service {
        width: 100px;
        height: 100px;
        margin-top: 16px;
      }

      .label-service {
        font-size: 16px;
        color: $teriary;
      }
      .paragraph-service {
        font-size: 14px;
        font-weight: 400;
        line-height: 30px;
        color: $black;
        text-align: center;
        margin-top: 16px;
      }
    }
  }
}


.section-whoami-container {
  display: flex;
  justify-content: center;
  align-items: center;

  @include for-phone-only {
    flex-direction: column;
  }

  &__description-container {
    padding: 30px 142px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    position: relative;


    .pastille-light {
      position: absolute;
      top: -47px;
      left: -80px;
      width: 200px;
      z-index: 0;
      @include for-phone-only {
        display: none;
      }
      // height: 100%;
    }

    .pastille-brown {

      position: absolute;
      bottom: 6px;
      right: 0px;
      width: 134px;
      z-index: 0;
      @include for-phone-only {
        display: none;
      }
    }
    @include for-phone-only {
      padding: 16px 24px;
    }
  
    .paragraph-service {
      font-size: 14px;
      font-weight: 400;
      line-height: 30px;
      color: $black;
      text-align: center;
      margin-top: 16px;
    }
  }

  &__picture-estelle {
    width: 50%;
    height: 100%;
    @include for-phone-only {
      width: 100%;
    }
  }
}

.section-stepper-container {
  background-color: $primary;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__leaf {
    width: 350px;
    @include for-phone-only {
      display: none;
    }
  }

  &__stepper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    svg {
      width: 400px;
      height: 779px;
    }

    @include for-phone-only {
      padding: 16px 24px;
      svg {
        width: 100%;
        height: auto;
      }
    }
    // TODO : in progress
    // .stepper-container {
    //   display: flex;
    //   flex-direction: column;
    //   align-items: flex-start; /* Alignez les étapes à gauche */
    // }

    // .step {
    //   display: flex;
    //   align-items: center;
    //   margin-bottom: 20px;
    //   /* Supprimez z-index: -1; pour les étapes */
    //   position: relative; /* Ajoutez ceci pour positionner les lignes de connexion */

    //   .step-circle {
    //     width: 30px;
    //     height: 30px;
    //     background-color: #007bff;
    //     color: #fff;
    //     border-radius: 50%;
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     font-weight: bold;
    //     margin-right: 20px;
    //   }

    //   .step-title {
    //     font-size: 16px;
    //     color: #000;
    //     z-index: 1;
    //   }

    //   /* Ligne de connexion entre les étapes */
    //   &::before {
    //     content: '';
    //     width: 2px;
    //     height: 100%; /* Hauteur de la ligne */
    //     background-color: #000;
    //     position: absolute;
    //     top: 30px;
    //     left: 14%;
    //     transform: translateX(-50%);
    //     z-index: 0; /* Déplacez le z-index ici pour les lignes */
    //   }

    //   .step:not(:last-child)::before {
    //     content: '';
    //     width: 0px;
    //     height: 100%; /* Hauteur de la ligne */
    //     background-color: #000;
    //     position: absolute;
    //     top: 30px;
    //     left: 14%;
    //     transform: translateX(-50%);
    //     z-index: 0; /* Déplacez le z-index ici pour les lignes */
    //   }
    // }
  }
}


.section-trusted-me-container {
  background-color: $primary;
  padding: 32px 0;

  &__customer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 165px;
    @include for-phone-only {
      padding: 0 16px;
    }

    gap: 12px;
    img {
      height: 70px;
      @include for-phone-only {
        height: 50px;
      }
    }
  }
}