<div class="secondary-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('banner-blog.avif') %>);">
  <div class="container">
    <h1>Blog</h1>
    <p>Bonne lecture et joie dՎchanger avec vous.</p>
    <!-- <a class="btn btn-flat" href="#">Apply now</a> --> 
  </div>
</div>




<div class="articles-container">

<% @articles.each do |article| %>

  <div class="blog-card">
    <%= article.publication_date %>
    <%#= image_tag article.image, class:"blog-card__image" %>
    <%= article.title %>
    <%= article.intro_text %>
    <%#= article.content %>
  </div>

<% end %>


</div>
