<!-- FILEPATH: /Users/charliebertrand/code/Schwaips/projects/faham_v2/app/views/articles/index.html.erb -->

<h1>Liste des articles</h1>

<table>
  <thead>
    <tr>
      <th>Titre</th>
      <th>Intro Text</th>
      <th>Content</th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.intro_text %></td>
        <td><%= article.content %></td>
      </tr>
    <% end %>
  </tbody>
</table>
