<aside class="sidebar">
  <ul>
    <li><%= link_to "Leads", admin_leads_path() %></li>
    <li><%= link_to "Articles", admin_articles_path() %></li>
    <li><%= link_to "Logo client", admin_trusted_customers_path() %></li>
    <li><%= link_to "Témoignage", admin_testimonies_path() %></li>
  </ul>
</aside>
