<div class="mentions-legales">
  <%= link_to "Retour au site", root_path %>
  <h3>Présentation du site</h3>
  En vertu de l'article 6 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique, il est précisé aux utilisateurs du site www.estelle-laboureur-faham.com l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi :
  <ul>
    <li>
      Le présent site est édité par : Charlie Bertrand, Autoentrepreneur ayant pour numéro de SIRET 89510344800018 et qui est domiciliée au 32 rue Frere Louis 44200 NANTES
    </li>
    <li>
      Responsable de la publication : Estelle Laboureur, joingnable au 0692934089 et : elaboureur.faham@gmail.com
    </li>
    <li>
      Webmaster du site: Charlie Bertrand
    </li>
    <li>
      Hébergeur du site: Clever Cloud, 3 rue de l'Allier, 44000 Nantes
      Contact: https://www.clever-cloud.com/fr/contact/
      Politique de sécurité : https://www.clever-cloud.com/fr/politique-de-confidentialite/#:~:text=Clever%20Cloud%20met%20en%20oeuvre%20des%20mesures%20techniques%20et%20organisationnelles,collaborateurs%20et%20prestataires%20ayant%20un
    </li>
  </ul>

  <h3>Propriété intellectuelle et contrefaçons</h3>

  <p>L’entreprise Estelle Laboureur, Consultante en Anthropologie est propriétaire des droits de propriété intellectuelle ou détient les droits d’usage sur tous les éléments accessibles sur le site, notamment : les textes, les images, les graphismes, le logo, les icônes,…
  Toute reproduction, représentation, modification, publication, adaptation de tout ou partie des éléments du site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable de l’entreprise Estelle Laboureur, Consultante en Anthropologie, Faham.
  Toute exploitation non autorisée du site ou d’un quelconque élément qu’il contient sera considérée comme constitutive d’une contrefaçon et poursuivie conformément aux dispositions des articles L.335-2 et suivants du Code de Propriété Intellectuelle.</p>

  <h3>Cookies et traceurs</h3>
  Le site internet www.estelle-laboureur-faham.com n'utilise pas de cookies traceurs.

  <!-- <h3>Cookies et traceurs</h3>
  Le site internet www.estelle-laboureur-faham.com possède un système de mesure d’audience, ainsi qu’une fonction de partage sur les réseaux sociaux.
  En application de la loi RGPD sur la protection des données, les internautes doivent être informés et donner leur consentement préalablement à l’insertion de traceurs (plus couramment appelés « cookies »). Les internautes doivent disposer d’une possibilité de choisir de ne pas être tracés lorsqu’ils visitent un site ou utilisent une application. Les éditeurs de sites internet ont donc l’obligation de solliciter au préalable le consentement des utilisateurs.
  Le refus d’installation d’un cookie peut entraîner l’impossibilité d’accéder à certains services. L’internaute peut toutefois configurer son navigateur internet pour refuser l’installation des cookies. 

  <h3>Mesure d’audience</h3>
  Les cookies de mesure d’audience sont de petits fichiers qui permettent de connaitre et d’analyser les statistiques de trafic sur le site internet : les pages visitées, le nombre de visites, le taux de rebond, la provenance des visites,… Les cookies de mesure d’audience sont totalement anonymes.
  Sur ce site, c’est la solution Google Analytics qui est utilisée pour mesurer l’audience.-->
  <h3>Formulaire de contact et commentaires</h3>

  <p>Vous pouvez être amené à nous indiquer votre adresse e-mail lorsque vous remplissez notre formulaire de contact sur le site www.estelle-laboureur-faham.com.
  En aucun cas, votre adresse e-mail ne sera cédée à des tiers.</p>

</div>