.main-container {
  background-color: $secondary;
  min-height: calc(100vh - (46px + 64px));
  // width: calc(100% - 32px);
  // max-width: 1280px;
  // margin: auto;
  min-height: 100vh;
  padding-top: 1px;
}

.container-spaced {
  padding: 0 32px;
}

.main-container-admin {
  background-color: $secondary;
  min-height: calc(100vh - (64px));
  margin-left: 100px;
}

.articles-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 64px 12px;
  background-color: $primary;

  .link-article-card {
    text-decoration: none;
    flex: 1 0 21%; // 4 items per row - 100/4 = 25, minus a bit for margins
    margin: 12px;
    max-width: 21%; // To prevent flex-grow to expand items

    @include for-tablet-portrait-up {
      flex: none; 
      max-width: 46%;
    }
    @include for-phone-only {
      flex: none;
      max-width: 100%;
    }
  }
}
