.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $quarternary;
  color: $white;
  padding: 0px 12px;
  @include for-phone-only {
    margin-bottom: 64px;
  }
}
