.navbar-container {
  @include for-phone-only {
    display: none;
  }

  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: flex-start;
  gap: 24px;
  align-items: center;
  height: 64px;
  width: 100vw;
  background-color: $primary;
  border-bottom: 1px solid $grey-4;

  &__link-container {
    display: flex;
    gap: 24px;
    color: $black;
    justify-content: space-between;
    align-items: center;
  }

  svg {
    height: 50px;
    margin-right: 12px;
    margin-left: 12px;
  }
}

.mobile-navbar-container{
  @include for-tablet-portrait-up {
    display: none;
  }
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 0;
  height: 64px;
  width: 100vw;
  background-color: $white;
  z-index: 1000;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);

  .mobile-navbar{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 600px;
  }

  .project, .user-list, .my-account, .my-account__button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75px;

    p{
      font-size: 10px !important;
    }

    svg{
      padding: 5px 20px;
      border-radius: 25px;
      width: 24px;
      height: 24px;
    }

    &.active{
      p{
        color: $black !important;
      }
      svg{
        background-color: $primary-light;
        path{
          stroke: $primary-acc;
          &:first-child{
            fill: $primary-acc;
          }
        }
      }
    }
  }
  .my-account{
    position: relative;
  }
  .drop-up-menu{
    position: absolute;
    bottom: 72px;
    right: -12px;
    width: max-content;
    display: flex;
    flex-direction: column;
    border-radius: 8px;

    background-color: $white;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);

    a{
      color: $black;
      padding: 12px 16px;
    }
  }
}
