.p-8px {
  padding: 8px;
}

.p-16px {
  padding: 16px;
}

.p-32px {
  padding: 32px;
}
.pt-32px {
  padding-top: 32px;
}
.pt-16px {
  padding-top: 16px;
}
.pb-8px {
  padding-bottom: 8px;
}
.pb-16px {
  padding-bottom: 16px;
}
.pb-24px {
  padding-bottom: 24px;
}
.pb-32px {
  padding-bottom: 32px;
}
.pb-64px {
  padding-bottom: 64px !important;
}
.pb-100px {
  padding-bottom: 100px;
}

// Y
.py-8px {
  padding-top: 8px;
  padding-bottom: 8px;
}

.py-12px {
  padding-top: 12px;
  padding-bottom: 12px;
}

.py-16px {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-32px {
  padding-top: 32px;
  padding-bottom: 32px;
}

// X

.px-14px {
  padding-left: 14px;
  padding-right: 14px;
}

// width && height
.w-fit-content {
  width: fit-content;
}

.w-auto {
  width: auto !important;
}

.w-100percent {
  width: 100%;
}

.mw-340px {
  max-width: 340px;
}

.w-340px {
  max-width: 340px;
}

.h-100percent {
  height: 100%;
}

.h-100vh {
  height: 100vh;
}

.min-h-400px {
  min-height: 400px;
}

.h-80vh {
  height: 80vh;
}

.w-150px {
  width: 150px;
}
.w-100vw {
  width: 100vw;
}

.w-80percent {
  width: 80%;
}

.w-auto {
  width: auto;
}

.mw-438px {
  max-width: 438px;
}

.h-auto {
  height: auto;
}
