.sidebar {
  position: fixed;
  background-color: #f90;
  top: 64px;
  left: 0;
  height: 100vh; /* vh est une unité de mesure relative à la hauteur de la fenêtre de visualisation */
  width: 200px;
  background-color: #333;
  padding: 20px;
  overflow: auto;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  color: #fff;
  text-decoration: none;
}

.sidebar a:hover {
  color: #f90;
}