/* CSS */
table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #4CAF50; /* Couleur de fond pour l'en-tête */
  color: white; /* Couleur du texte pour l'en-tête */
}

thead th {
  padding: 10px;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2; /* Couleur de fond pour les lignes paires */
}

tbody tr:nth-child(odd) {
  background-color: #ffffff; /* Couleur de fond pour les lignes impaires */
}

tbody td {
  padding: 10px;
  text-align: center;
}