<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res-console.cloudinary.com/faham/media_explorer_thumbnails/097229384b626f001234f78381e86a53/detailed);">
  <div class="banner__labels-container">
    <%= show_svg "faham-orange-logo.svg" %>
    <h3 class="primary">Recherches - Conseil - Formation</h3>
    <p class="w-200px"></p>
  </div>
</div>
