<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/faham/image/upload/v1633364390/En_qu%C3%AAte_de_sens_et_d_efferve_sciences.jpg);">
  <div class="banner__labels-container">
    <h1>Faham</h1>
    <p class="w-200px">Renforcer notre conscience du monde pour penser et agir en faveur de projets socialement durables.</p>
    <%= link_to "Add item", root_path, class: "btn" %>
  </div>
</div>
