<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/faham/image/upload/v1633364390/En_qu%C3%AAte_de_sens_et_d_efferve_sciences.jpg);">
  <div class="banner__labels-container">
    <%= show_svg "faham-orange-logo.svg" %>
    <h3 class="primary">Recherches - Conseil - Formation</h3>
    <p class="w-200px">Renforcer notre conscience du monde pour penser et agir en faveur de projets socialement durables.</p>
  </div>
</div>
