<div class="section-whoami-container">
  <div class="section-whoami-container__description-container">

      <%= image_tag "icons/pastille-light.png", class:"pastille-light" %>
      <%= image_tag "icons/pastille-brown.png", class:"pastille-brown" %>
      <h3 class="h3--terracotta align-self-start inherit">Qui suis-je ?</h3>
      <p class="xxl-paragraph inherit">Je m’appelle Estelle Laboureur et je partage avec vous ma passion pour l’Humain et son inscription complexe dans des sociétés diversifiées. </p>
      <p class="xs-paragraph inherit">
        Entrepreneuse, j’amène les acteurs de la recherche (connaisseurs comme néophytes) à s’exercer au regard anthropologique.
      </p>

      <p class="xs-paragraph inherit">
        Je propose de mettre du mouvement dans nos représentations pour oser la rencontre avec l’autre, le monde et nous-mêmes !
      </p>

      <%= link_to "Découvrez plus en détail mon parcours", "#", class:"mt-32px align-self-start" %>
  </div>
  <%= cl_image_tag "qui-suis-je/Docteure_en_socio-anthropologie", class:"section-whoami-container__picture-estelle" %>
</div>