<div class="section-stepper-container ">
  <%= image_tag "leaf.png", class:"section-stepper-container__leaf" %>

  <div class="section-stepper-container__stepper">
    <!-- integrer le stepper ici -->
    <h3 class="terracotta">Méthodologie</h3>
    <span>Experte en <span class="terracotta fw-600">méthodologie qualitative</span> la rigueur scientifique, la transmission </span>
    <span>et le plaisir de la recherche sous-tendent toutes mes missions.</span>
    <p class="fw-600 fs-16">Votre accompagnement en 7 étapes</p>
    <%= show_svg "stepper.svg" %>
  </div>
</div>