
<div class="section-video-container">
  <div class="section-video-container__title-container">
    <p class="xxl-paragraph">Faham est un espace d'étude, de conseil et de formation</p>
    <p class="xxl-paragraph teriary fw-600">experte dans la recherche en Sciences Humaines et Sociales.</p>

  </div>

  <div class="section-video-container__mission-label-container">
    <p class="paragraph-mission-label">Sa mission : vous aider à élargir votre vision du monde grâce à l'anthropologie, pour créer des projets novateurs, respectueux de la culture et de la société.</p>
  </div>

  <div class="section-video-container__youtube-video-container">
    <iframe width="100%" height="400px" src="https://www.youtube.com/embed/QhU0M5ph_nw?si=VV-TH4T_sHjqVHk_" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>

  <%= image_tag "icons/pastille-light.png", class:"section-video-container__pastille-light" %>
  <%= image_tag "icons/pastille-brown.png", class:"section-video-container__pastille-brown" %>
</div>