<div class="section-whoami-container">
  <div class="section-whoami-container__description-container">

      <%= image_tag "icons/pastille-light.png", class:"pastille-light" %>
      <%= image_tag "icons/pastille-brown.png", class:"pastille-brown" %>
      <h3 class="h3--terracotta align-self-start">Qui suis-je ?</h3>
      <p class="paragraph-light">Je m’appelle Estelle Laboureur et je partage avec vous <strong>ma passion pour l’Humain</strong> et son inscription complexe dans des sociétés diversifiées. </p>
      <p class="paragraph-light">
        Entrepreneuse, j’amène <strong>les acteurs de la recherche</strong> (connaisseurs comme néophytes) à s’exercer au regard anthropologique.
      </p>

      <p class="paragraph-light">
        Je propose de mettre du mouvement dans nos représentations pour oser <strong>la rencontre avec l’autre, le monde et nous-mêmes !</strong>
      </p>

      <%= link_to "Découvrez plus en détail mon parcours", "#", class:"mt-32px align-self-start" %>
  </div>
      <div style="background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));">
          <img src="https://res.cloudinary.com/faham/image/upload/v1632671933/qui-suis-je/Docteure_en_socio-anthropologie.jpg" class="section-whoami-container__picture-estelle" alt="">
      </div>
</div>