<div class="section-trusted-me-container">
    <h3 class="text-center">Ils m'ont fait confiance</h3>
    <div class="section-trusted-me-container__customer-container">
    <% @trusted_customers.each do |customer| %>
      <img src="<%= customer.photo.blob.url %>">
    <%  end %>
    </div>
</div>