<div class="section-testimonies-container" data-controller="splide">


  <section class="splide" aria-label="aria">
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
            <div class="slide-container">
                <%= image_tag "big-quote" %>              
                <p>Victus universis caro ferina est lactisque abundans copia qua sustentantur, et herbae multiplices et siquae alites capi per aucupium possint, et plerosque mos vidimus frumenti usum et vini penitus ignorantes.</p>
                <p>Auteur : Victus universis caro ferina </p>
            </div>
        </li>
        <li class="splide__slide">
            <div class="slide-container">
              <%= image_tag "big-quote" %>
              <p>Victus universis caro ferina est lactisque abundans copia qua sustentantur, et herbae multiplices et siquae alites capi per aucupium possint, et plerosque mos vidimus frumenti usum et vini penitus ignorantes.</p>
              <p>Auteur : Victus universis caro ferina </p>
          </div>
        </li>
        <li class="splide__slide">
            <div class="slide-container">
              <%= image_tag "big-quote" %>             
              <p>Victus universis caro ferina est lactisque abundans copia qua sustentantur, et herbae multiplices et siquae alites capi per aucupium possint, et plerosque mos vidimus frumenti usum et vini penitus ignorantes.</p>
              <p>Auteur : Victus universis caro ferina </p>
            </div>
        </li>
      </ul>
    </div>
  </section>

</div>