<div class="section-stepper-container ">
  <%= image_tag "leaf.png", class:"section-stepper-container__leaf" %>

  <div class="section-stepper-container__stepper">
    <!-- integrer le stepper ici -->
    <h3>Méthdologie</h3>
    <%= show_svg "stepper.svg" %>
  </div>
</div>