<div class="section-services-container">
  <div class="section-services-container__services">
      <div class="section-services-container__services-service">
          <%= image_tag "icons/head-search.png", class:"logo-service" %>
          <div class="text-center">
            <p class="label-service">Recherches Qualitatives & Conseils</p>
          </div>
          <p class="paragraph-service">Je conduis des études en mobilisant mon <strong>expertise en sociologie-anthropologie</strong> auprès des professionnels/structures (public-privé) à partir de leurs problématiques.</p>
      </div>

      <div class="section-services-container__services-service">
          <%= image_tag "icons/formation-conference.png", class:"logo-service" %>
          <div class="text-center">
            <p class="label-service">Formations & Conférences</p>
          </div>
          <p class="paragraph-service">J’interviens dans des formations initiales et continues pour transmettre la <strong>démarche en Sciences Humaines et Sociales.</strong> Je crée des formations sur-mesure, à la demande, et communique lors de colloques et séminaires.</p>
      </div>

      <div class="section-services-container__services-service">
          <%= image_tag "icons/mentorat.png", class:"logo-service" %>
          <div class="text-center">
            <p class="label-service">Mentorat
               & accompagnement</p>
          </div>
          <p class="paragraph-service">J’accompagne <strong>les doctorants et acteurs de la recherche</strong> à différents stades de leur parcours sur les volets suivants : méthodologique, organisationnel et relationnel.</p>
      </div>
  </div>
</div>