<div class="section-testimonies-container" data-controller="splide">


  <section class="splide" aria-label="aria">
    <div class="splide__track">
      <ul class="splide__list">

        <% @testimonies.each do |testimony| %>
          <li class="splide__slide">
              <div class="slide-container">
                  <%= image_tag "big-quote" %>              
                  <p class="description"><%= testimony.description.truncate(220) %></p>
                  <p class="author"><%= testimony.author %> </p>
              </div>
          </li>
        <% end %>
      </ul>
    </div>
  </section>
</div>